.about {
	margin: 0 30px;
}
/*section réservée au différentes parties de la page*/
.about__introduction p {
	font-size: 1.1rem;
	margin: 1rem;
}
.about__subsection {
	position: relative;
	display: flex;
	justify-content: center;
	height: 10rem;
	border: solid 1px rgb(151, 149, 149);
	width: 90vw;
	margin: 2rem auto;
	transition: 0.2s ease-in-out;
	/* margin: 2rem 0; */
}
.about__subsection:nth-child(2n) {
	flex-direction: row-reverse;
}
.about__subsection:hover {
	transform: scale(1.03);
	transition: 0.3s ease-in-out;
}
.bg-img {
	background-image: url(../images/about-fut.jpg);
	background-size: cover;
	width: 70%;
}
.about__subsection:nth-child(2n) .bg-img {
	background-image: url(../images/bar.jpg);
}
.about__subsection h3 {
	width: 30%;
	align-self: center;
	font-size: 2.5rem;
}
.about__child {
	width: 80vw;
	margin: 1rem auto;
	font-size: 1.5rem;
	overflow: hidden;
}
.about__child p {
	margin: 1.2rem;
}
.about__origin--title {
	font-weight: bolder;
	/* transform: translateX(-60vw);
	animation: moveR 3s ease-in forwards; */
}
/* .about__support h3 {
	transform: translateX(-60vw);
	animation: moveR 2s ease-out forwards;
} */
/* .about__support p {
	transform: translateY(20vw);
	opacity: 0;
}
.about__support p:nth-child(2) {
	animation: moveUp 0.6s ease-in-out 1.8s forwards;
}
.about__support p:nth-child(3) {
	animation: moveUp 0.6s ease-in-out 2s forwards;
}
.about__support p:nth-child(4) {
	animation: moveUp 0.6s ease-in-out 2.2s forwards;
}
.about__support p:nth-child(5) {
	animation: moveUp 0.6s ease-in-out 2.4s forwards;
} */
/*section valeur de l'à propos*/
.about__valeur p span {
	display: block;
	line-height: 1.2rem;
}
/*section demarche de l'à propos*/
.about__demarche img {
	height: 250px;
}
/* @keyframes moveR {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes moveUp {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
} */
/* .subsection__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	display: flex;
	justify-content: center;
	transition: opacity 0.5s;
}
.subsection__overlay a {
	align-self: center;
}
.subsection__overlay button {
	font-size: 1.5rem;
	padding: 1rem;
}
.bg-img button {
	transform: translateY(4.25rem);
	opacity: 0;
}
.about__subsection:hover .bg-img button {
	opacity: 1;
}
.about__subsection:hover .subsection__overlay {
	opacity: 1;
	transition: opacity 0.5s;
} */

/*responsive section*/
@media (max-width: 600px) {
	.about__subsection {
		width: 80vw;
	}
	.about__subsection h3 {
		width: 40%;
		font-size: 1.3rem;
	}
	.bg-img {
		width: 60%;
	}
}
