.about {
	margin: 0 30px;
}
/*section réservée au différentes parties de la page*/
.about__introduction p {
	/* font-family: Helvetica, Arial, sans-serif; */
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 1.1rem;
	margin: 1rem 0;
}
.about__subsection {
	position: relative;
	display: flex;
	justify-content: center;
	height: 11rem;
	border: solid 1px rgb(151, 149, 149);
	width: 90vw;
	margin: 2rem auto;
	transition: 0.2s ease-in-out;
}
.about__subsection:nth-child(2n) {
	flex-direction: row-reverse;
}
.about__subsection:hover {
	transform: scale(1.03);
	transition: 0.3s ease-in-out;
}
.bg-img {
	/* background-image: url(../images/about-menu.jpg); */
	/* background-size: cover; */
	width: 70%;
}
.bg-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	/* object-position: 50% 45%; */
}
.bg-img .img-1 {
	object-position: 50% top;
}
.bg-img .img-2 {
	object-position: 50% 25%;
}
.bg-img .img-3 {
	object-position: 50% 60%;
}
.bg-img .img-4 {
	object-position: 50% 90%;
}
/* .about__subsection:nth-child(2n) .bg-img {
	background-image: url(../images/bar.jpg);
} */
.about__subsection h3 {
	width: 30%;
	align-self: center;
	font-size: 2.5rem;
	font-family: "Courgette", cursive;
}
.about__child {
	width: 80vw;
	margin: 1rem auto;
	font-size: 1.5rem;
	overflow: hidden;
}
.about__child p {
	font-family: Tahoma, Verdana, sans-serif;
	margin: 2rem 0;
}
.about__origin--title {
	font-weight: bolder;
}

.about__origin--team {
	/* .about__origin--team h3,
.origin__team--container:nth-child(2) { */
	text-align: left;
}
.origin__team--container {
	display: flex;
}
.origin__team--container:nth-child(3) {
	flex-direction: row-reverse;
	text-align: right;
}
.origin__team--img {
	width: 150px;
	height: 150px;
	background-color: grey;
	opacity: 0.5;
	border-radius: 50%;
}
.content__origin p a {
	color: blue;
}
.content__origin p a:hover {
	text-decoration: underline;
}

/*style des liens (precedent et suivant) dans les sous-parties*/
.prev-next__navigation {
	display: flex;
	justify-content: space-between;
}
.about__child .navigation--right {
	justify-content: flex-end;
}
.about__child--nextlink,
.about__child--prevlink {
	/* position: absolute; */
	line-height: 1.2rem;
}
/* .about__child--prevlink {
	left: 1rem;
}
.about__child--nextlink {
	right: 1rem;
}*/
.about__child--nextlink svg,
.about__child--prevlink svg {
	height: 2rem;
}
.about__child--prevlink svg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.about__child--nextlink p,
.about__child--prevlink p {
	font-size: 1.2rem;
	margin: 0;
}
/* .about__demarche .about__child--prevlink {
	bottom: 1rem;
} */

/*section valeur de l'à propos*/
.about__valeur p span {
	display: block;
	line-height: 1.2rem;
}
/*section demarche de l'à propos*/
.about__demarche img {
	height: 250px;
}

/*responsive section*/
@media (max-width: 600px) {
	.about__subsection {
		width: 80vw;
	}
	.about__subsection h3 {
		width: 40%;
		font-size: 1.3rem;
	}
	.bg-img {
		width: 60%;
	}
	.about__child p {
		font-size: 1rem;
	}
	.about__demarche img {
		display: none;
	}
}
/* @media (min-width: 1200px) {
	.about__child--nextlink,
	.about__child--prevlink {
		bottom: 1rem;
	}
} */
/* @media (min-width: 600px) and (max-width: 1200px) {
	.about__demarche .about__child--prevlink {
		bottom: -8rem;
	}
} */
