.carousel__auto,
.carousel__manual {
	position: relative;
	overflow: hidden;
	height: 600px;
}
.carousel__manual {
	width: 100vw;
	height: 100vh;
}
.carousel img {
	width: 100vw;
	height: 550px;
	object-fit: cover;
}
.slide-img {
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -100;
	transition: opacity 0.5s;
}
.carousel__manual .slide-img {
	/* position: absolute; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* opacity: 0; */
	/* transition: opacity 0.5s;
	z-index: -100; */
	height: 90vh;
}
.carousel__manual .slide-img img {
	height: 100%;
}
.img-active {
	transition: opacity 0.5s;
	opacity: 1;
}
.carousel__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
}

.carousel__arrow .fas {
	transform: scale(5);
	color: black;
}
.left-arrow {
	left: 1em;
}
.left-arrow svg {
	transform: rotate(180deg);
}
.right-arrow {
	right: 1em;
}
#arrow {
	color: blue;
	width: 100px;
}
.carousel__svg {
	width: 150px;
}

/*response section*/
@media (max-width: 425px) {
	.carousel__svg {
		width: 50px;
	}
}
@media (min-width: 425px) and (max-width: 768px) {
	.carousel__svg {
		width: 100px;
	}
}
@media (max-width: 768px) {
	.left-arrow {
		left: 0;
	}
	.right-arrow {
		right: 0;
	}
}
@media screen and (min-width: 1024px) {
	.slide-img--4 {
		object-position: 50% 70%;
	}
	.slide-img--2 {
		object-position: 50% 80%;
	}
}
