.creation {
	padding: 0 0 2rem 0;
}
.creation__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.single__creation {
	margin: 1rem 2rem;
}
.single__creation img {
	height: 400px;
	width: auto;
}
.single__creation figure,
.single__creation-card {
	box-shadow: 5px 5px 10px 3px #000;
}
.single__creation-card figure {
	box-shadow: initial;
}
.single__creation-card button {
	all: unset;
	background-color: #000;
	color: #fff;
	border: solid 1px #000;
	margin: 1rem 0;
	padding: 0.5rem;
	transition: all 0.3s;
}
.single__creation-card button:hover {
	background-color: #fff;
	color: #000;
	transition: all 0.3s;
}
/*sous section de la page creation*/
.deco__lightbox--close {
	all: unset;
	font-size: 2rem;
	position: absolute;
	right: 0;
	cursor: pointer;
	background-color: #fff;
	padding: 0 0.5rem;
}
