.deco__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.deco__lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.deco__lightbox.false {
	display: none;
}
.deco__lightbox.true {
	display: block;
}

/* .false.deco__lightbox {
	display: none;
} */
.deco__lightbox .carousel {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
}
.deco__lightbox .carousel img {
	width: 80vw;
	height: auto;
}
.deco__container img {
	height: 400px;
	width: auto;
}
.img__container {
	margin: 0.5rem 1rem;
}

@media (max-width: 768px) {
	.deco__container {
		display: initial;
	}
	.deco__lightbox .carousel {
		width: 95vw;
	}
	.deco__lightbox .carousel img {
		width: 95vw;
		height: 100vh;
	}
}
