/*style all screens*/
header {
	margin-bottom: 2rem;
}
header nav {
	font-family: "Staatliches", cursive;
}
.header__large-screen,
.header__large-screen ul,
.header__small-screen {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.delivery__block,
.arrow {
	position: absolute;
}
.delivery__block {
	display: none;
	right: -1rem;
	top: 3rem;
	width: 50vw;
	height: 50vh;
	border: solid 0.1rem #000;
	border-radius: 1rem;
	background-color: #fff;
}
.delivery__block.displayed {
	display: block;
}
.arrow {
	right: 1rem;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 20px;
	border-left-width: 20px;
}
.arrow__outer {
	top: -1.3rem;
	border-bottom: 20px solid #000;
}
.arrow__inner {
	border-bottom: 20px solid #fff;
	left: -20px;
	top: 3px;
}
/*style large screens*/
.header__large-screen {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header__large-screen a {
	width: 20%;
}
.header__large-screen .header__logo {
	height: 200px;
}
.header__logo img {
	width: auto;
	height: 90%;
}
.header__large-screen nav {
	width: 80%;
}
.header__large-screen ul {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	font-size: 1.5rem;
}
.header__icons {
	position: relative;
	margin-top: 0.5rem;
}
.header__icons svg {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0.7rem;
}
.header__large-screen li {
	list-style: none;
}
.header__slogan {
	font-size: 1.2rem;
}

/*style small screens*/
@media (max-width: 425px) {
	.header__large-screen {
		display: none;
	}
	.header__large-screen a img {
		width: 100vw;
		height: 100%;
	}
	nav {
		width: 100%;
	}
	header ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
	}
	.header__large-screen .visible nav {
		display: block;
	}
	.header__small-screen {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		overflow-x: hidden;
	}
	.header__small-screen .line {
		border-bottom: solid;
		width: 20px;
		margin: 5px 0;
	}
	.header__small-screen .mobile__lines,
	.mobile__svg {
		margin: 0 1rem;
	}
	.header__small-screen-menu {
		position: fixed;
		top: 0;
		left: -25rem;
		z-index: 100;
		background-color: khaki;
		height: 100vh;
		width: 80vw;
		-webkit-transition: 0.5s linear;
		-o-transition: 0.5s linear;
		transition: 0.5s linear;
	}
	.header__small-screen-menu.visible {
		left: 0;
		-webkit-transition: 0.5s linear;
		-o-transition: 0.5s linear;
		transition: 0.5s linear;
	}
	.header__small-screen-menu--nav {
		text-align: left;
	}
	.header__small-screen-menu--close {
		text-align: right;
		margin: 0.5rem;
	}
	.header__small-screen-menu--close svg {
		width: 1rem;
	}
	.header__small-screen-menu--nav li {
		font-size: 2rem;
		border-bottom: solid 1px;
	}
}

/*style tablet screen*/
@media (min-width: 425px) and (max-width: 1024px) {
	header {
		margin-top: 1rem;
	}
	.header__large-screen {
		display: initial;
	}
	.header__large-screen .header__logo {
		height: 150px;
	}
	.header__logo img {
		max-width: 12rem;
		height: auto;
	}
	.header__large-screen nav {
		width: 100%;
	}
	.header__slogan {
		-webkit-transform: translateY(-12rem);
		-ms-transform: translateY(-12rem);
		transform: translateY(-12rem);
	}
}

@media (min-width: 425px) {
	.header__small-screen {
		display: none;
	}
}
@media (min-width: 1025px) {
	.header__slogan {
		margin-top: 2rem;
	}
}
