#homepage__sentence {
	margin: 2rem 0;
}
.homepage__partenaire p,
.homepage__partenaire a {
	margin: 1rem;
}
.homepage__partenaire p,
.homepage__contact p {
	font-size: 1.5em;
	font-weight: bold;
}
.homepage__contact {
	margin: 3rem;
}
.homepage__icons {
	margin-top: 1rem;
}
.homepage__icons svg {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0.7rem;
}
@media (min-width: 425px) {
	.homepage__icons {
		display: none;
	}
}
