.robin {
    margin: 0 2rem;
}
h2 {
    margin: 3rem 0;
}
.robin__features {
    columns: 3 300px;
    column-gap: 3em;
    font-size: 1.3rem;
    text-align: justify;
}
.robin__img-container {
    text-align: center;
}
.robin__features img {
    width: 300px;
}
.robin__features p {
    margin-bottom: 2rem; 
}
.robin__features p:nth-child(5) {
    font-weight: bold; 
}