/* .deco__container { */
.subcreation__container {
	/* display: flex;
	justify-content: center;
	flex-wrap: wrap; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.subcreation__container figure {
	cursor: pointer;
}
.subcreation__lightbox {
	/* .deco__lightbox { */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.subcreation__lightbox.false {
	/* .deco__lightbox.false { */
	display: none;
}
/* .deco__lightbox.true { */
.subcreation__lightbox.true {
	display: block;
}

/* .false.deco__lightbox {
	display: none;
} */
.subcreation__lightbox .carousel {
	/* .deco__lightbox .carousel { */
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw; */
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80vw;
}
.subcreation__lightbox .carousel img {
	/* .deco__lightbox .carousel img { */
	width: 80vw;
	height: auto;
}
/* .deco__container img { */
.subcreation__container img {
	height: 400px;
	width: auto;
	/* height: 100%; */
}
.img__container {
	margin: 0.5rem 1rem;
}

@media (max-width: 768px) {
	/* .deco__container { */
	.subcreation__container {
		display: initial;
	}
	.subcreation__lightbox .carousel {
		/* .deco__lightbox .carousel { */
		width: 95vw;
	}
	.subcreation__lightbox .carousel img {
		/* .deco__lightbox .carousel img { */
		width: 95vw;
		height: 100vh;
	}
}
@media (max-width: 375px) {
	.subcreation__container img {
		height: 360px;
	}
}
