.subcreation__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.subcreation__container figure {
	cursor: pointer;
}
.subcreation__lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 100;
}
.subcreation__lightbox.false {
	display: none;
}
.subcreation__lightbox.true {
	display: block;
}
.subcreation__lightbox .carousel {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80vw;
}
.subcreation__lightbox .carousel img {
	width: 80vw;
	height: auto;
}
.subcreation__container img {
	height: 400px;
	width: auto;
}
.img__container {
	margin: 0.5rem 1rem;
}
.img__container p {
	font-family: Tahoma, Verdana, sans-serif;
}
.subcreation__container--devis {
	/* border: solid 1px; */
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	width: 10rem;
	margin: 1rem auto;
	padding: 1rem;
	background: #ddd;
	border: solid 1px #c2c2c2;
	color: #414141;
	border-radius: 0.5rem;
}
/* #bar__link--devis {

} */

@media (max-width: 768px) {
	.subcreation__container {
		display: initial;
	}
	.subcreation__lightbox .carousel {
		width: 95vw;
	}
	.subcreation__lightbox .carousel img {
		width: 95vw;
		height: 100vh;
	}
}
@media (max-width: 375px) {
	.subcreation__container img {
		height: 360px;
	}
}
